
* {
  font-family: Red Hat Display;
  color: #065EA6;
}


.app-layout {
    min-height: 100dvh; /* moderno, evita problemas con barras */
    position: relative;
    min-height: 100vh;

}

/* asegúrate que el header quede por encima */
.app-layout header,
.app-layout .header,
.app-layout #header{
  position: sticky;   /* o relative/fixed según tu header */
  top: 0;
  z-index: 10000;
}


.app-header {
  position: sticky !important;
  top: 0;
  z-index: 20;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

/* overlay del loading */
.processing-container {
    width: 100%;
    position: fixed;
    height: 100dvh;
    max-width: 500px;
    padding: 40px;
    text-align: center;
    z-index: 9000; /* menor que el header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* look overlay */
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(2px);
    /* bloquea clicks al contenido */
    pointer-events: all;
}

/* tu hidden */
.hidden{
  display: none !important;
}
  
.app-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    padding: 1rem;
}

.step-content {
    display: flow;
    flex-direction: column;
    padding: 17px;
    flex: 1;
}

.authorize-card {
    flex: 1;
}

.step-process {
    display: block;
    width: 100%;
    align-items: center;
    padding: 15px;
    width: 100%;
    justify-content: space-around;
}

img.step-process-img {
    width: 100%;
}

.autorize-img {
    display: flex;
    justify-content: center;
}

img.auth-form-img {
  width: 66%;
}

.autorize-form {
  height: 100%;
  margin: 10px 12px;
  position: relative;
  padding: 12px 41px;
  display: flex;
  flex-direction: column;
}


.form-element {
    display: inline-flex;
    align-items: flex-start;
    padding: 3px;
    gap: 9px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 21px;
}

button {
  height: 4rem;
}

button.btn-continue {
    background-color: #065EA6;
    font-family: Red Hat Display;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: center;
    border-radius: 21px;
    border: none;
    color: white;
}
button.btn-return {
    background-color: transparent;
    font-family: Red Hat Display;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    text-align: center;
    border-radius: 21px;
    border: 1px solid #065EA6;;
    color: #065EA6;
}





.billing-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.input-container {
    position: relative;
    width: 100%;
}

.form-title {
  text-align: center;
}

.input-container input {
    width: 100%;
    height: 45px;
    padding-left: 12px;
    outline: none;
    border: solid 0.2px;
    border-radius: 21px;
    font-size: 14px;
    color: #065EA6;
}

.input-container label {
    color: #065EA6;
    padding: 0px 9px 0px 9px;
    margin-bottom: 0;
}

/* Cuando el input tiene foco o tiene contenido */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: -14px;
    font-size: 1.3rem;
    left: 3%;
    color: #000;
}

.step-content.billing {
    margin: 12px 3rem;
    box-shadow: 6px 12px 21px rgba(0, 0, 0, 0.18);
    border-radius: 21px;
}

form#formData {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 21px;
}

select#txtPersonType {
    width: 100%;
    height: 45px;
    padding-left: 12px;
    outline: none;
    border: solid 0.2px;
    border-radius: 21px;
    font-size: 14px;
    color: #065EA6;
    background: transparent;
}

select#txtBank {
    width: 100%;
    height: 45px;
    padding-left: 12px;
    outline: none;
    border: solid 0.2px;
    border-radius: 21px;
    font-size: 14px;
    color: #065EA6;
    background: transparent;
}




/* ALERTS */

.alert-container {
    position: fixed;
    bottom: 12px;
    left: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.alert {
    margin-top: 12px;
    width: 90%;
    display: flex;
    left: 5%;
    padding: 6px !important;
    align-items: center;
    right: 5%;
    border-radius: 12px;
    box-shadow: 0 8px 12px 0 rgba(24, 22, 21, 0.5607843137), 0 1px 8px 0 rgba(24, 22, 21, 0.3215686275);
}

.alert .alert-icon {
    padding: 3px;
}

.alert .alert-icon i {
    filter: brightness(0) invert(100%);
    font-size: x-large;
    padding: 6px;
}

.alert .alert-text {
    filter: brightness(0) invert(100%);
    padding: 2px;
    flex: 1;
    font-size: medium;
    font-weight: bold;
}
.alert .alert-close {
    position: relative;
    top: -12px;
    left: -6px;
}
.alert .alert-close i {
    padding: 3px;
    font-weight: bold;
    color: #fff;
    font-size: small;
}

/* variantes (colores propios del banco) */
.alert--error .alert{
    background: #DC2626;
    color: #fff;
    border-radius: 21px;
}

.alert--success .alert{
  background: #16A34A;
  color: #fff;
}

.alert--warn .alert{
  background: #ffb000;
  color: #fff;
}



/* FINISH SCREEN */

.finish-container {
    height: fit-content;
    background: linear-gradient(0deg, #fff, #f5f5f5 86%, #f73);
}

.finish-main-card, .finish-detail-card, .finish-reference-card, .foot-alert-card
 {
    display: flex;
    margin: 12px 33px;
    padding: 21px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12);
}

.main-card-container {
    display: flex;
}

.main-card-logo {
    display: flex;
    width: 21%;
    flex-direction: row-reverse;
}

img.finish-logo {
    width: 100%;
    border-radius: 100%;
    border: 2px solid #f73;
}

.finish-logo-icon {
    position: absolute;
}

.main-card-text h1 {
    font-size: 2rem;
}

.main-card-text h1 {
    color: #191919;
    font-size: 2rem;
}


.main-card-text span {
    color: #212121;
}
.payment-reference {
    display: flex;
}

.reference-text, .finish-detail-card, .payment-date, .payment-details {
    display: flex;
    flex-direction: column;
}

.payment-date {
    margin-bottom: 3rem;
}
.payment-date, .payment-details {
    padding: 6px;
}

.foot-alert-card {
    border-left: solid 2px #f73;
}

.commerce {
    white-space: pre;
}